.menuItemBox{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItemBox h2 {
  font-size: 32px;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menuItemDiv {
  width: 340px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 5px;
  background: white;
  background-color: rgba(235,235,235,1);
  height: 75px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
}

.menuItemHeader {
  display: flex;
  justify-content: space-between;
}

.menuDescription {
  font-size: 12px;
}
