/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Begins Here */
html {
  margin-left: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  margin-top: 50px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  z-index: 2;
  background-color: rgba(34,139,34,1);
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 52px;
}

.links{
  display: flex;
  flex-direction: row;
}

.links a {
  text-decoration: none;
  color: white;
}

.link {
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  width: 100px;
  text-align: center;
}

.link:hover {
  background-color: rgba(22,90,22,1);
}

.homePage {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPhotoContainer {
  width: 100vw;
  height: 350px;
  overflow: hidden;
}

.mainPhoto{
  min-width: 1400px;
  width: 100vw;
}

.mainLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 250px;
  height: calc(100vh - 400px);
  width: 800px;
}

.mainLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(120, 211,	249, 1);
}

.mainLinks a {
  text-decoration: none;
  color: white;
}

.mainLink:hover {
  background-color: rgba(90, 160,	186, 1);
}
