.restaurantPage {
  padding: 10px;
}

.restaurantHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  margin: 25px;
}

.restaurantHeader h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurantHeader h1 img {
  margin-right: 50px;
}

.restaurantHeader p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurantHeader p span {
  color: grey;
  margin-bottom: 10px;
}

.restaurantLogo {
  height: 200px;
  max-width: 200px;
}
