.orderPage{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.orderLeft{
  width: calc(100vw - 415px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.orderTitle{
  font-size: 24px;
  margin-bottom: 20px;
}

.cancelOrder{
  font-size: 14px;
  padding-left: 20px;
  color: blue;
}

.cancelOrder:hover{
  cursor: pointer;
  color: purple;
}

.orderLogo{
  height: 250px;
  width: 250px;
}
